/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.btn-remove {
  font-size: 12px;
}

.save-icon {
  cursor: pointer;
}

.save-icon:hover {
  color: #30a5ff !important;
}

#message {
  min-height: 25px;
  color: green;
}

#analysis {
  color: mediumvioletred;
  border: 1px dashed gainsboro;
  padding: 5px;
  margin: 10px 0 10px 0;
  min-width: 250px;
}

#btnAnalyze {
  cursor: pointer;
}

#btnAnalyze:hover {
  color: purple;
}

#btnAnalyze.disabled {
  color: gainsboro;
  cursor: default;
}

#txtPrompt {
  width: 100%;
}

#prompt-container {
  float: left;
  width: 95%;
  margin-right: 8px;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
